pytest>=6.0
flake8
pytest-flake8
ipython
pytest-notebook
nbsphinx
nbval>=0.9.6
nbconvert
Sphinx==2.4.4
bumpversion
twine
# Changing dependencies above this comment will create merge conflicts when updating the cookiecutter template with cruft. Add extra requirements below this line.
cruft
nbclient~=0.5.10
black==19.10b0
jupyterlab==2.1.5
ipywidgets==7.5.1
nodejs==0.1.1
birdhouse-birdy==0.6.9
beautifulsoup4==4.9.3
notebook>=6.1.5 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
